<div class="title has-text-centered pt-6">
  <h2>メッセージ一覧</h2>
</div>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <div class="box">
          <% @conversations.each do |conversation| %>
          <% if conversation.target_user(current_user).present? && conversation.messages.present? %>
          <%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation)%>
          <% if conversation.messages.last.read == false && conversation.messages.last.user_id != current_user.id %>
          <%= "未読あり" %>
          <% end %><br>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
