<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <div class="top-picture">
          <div class="content-title">
            Vitoria-match
          </div>
          <div class="content-sub-title">
            チームの<strong class="feature">特徴</strong>で練習試合の対戦相手を探す<br><br>
            <%= link_to "募集一覧を見てみる", invites_path, class: "button is-info" %>
          </div>
        </div>
      </div>
    </div>
    <div class="columns mt-5">
      <div class="column is-3">
        <div class="box3">
        <strong>❶チーム登録</strong><br>
        チーム登録時に特徴を選択
        </div>
      </div>
      <div class="column is-3">
        <div class="box3">
          <strong>❷募集登録</strong><br>
          登録済のチームを選択して作成
        </div>
      </div>
      <div class="column is-3">
        <div class="box3">
          <strong>❸募集検索</strong><br>
          一覧の画面のフォームから特徴検索
        </div>
      </div>
      <div class="column is-3">
        <div class="box3">
          <strong>❹マッチング</strong><br>
          募集詳細より、募集の代表者とDMにより練習試合の詳細を決定
        </div>
      </div>
    </div>
  </div>
</section>
