/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma";
body {
  min-height: 100vh;
  color: black;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  // background: image-url('soccer3.jpg');
  background-size: cover;
  font-family: sans-serif;
}
.alert{
  background-color: #363636;
  color: white;
}
.box {
    background-color: white;
    border: 1px solid;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.4), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    color: black;
    display: block;
    padding: 1.25rem;
}
.box2 {
    background-color: #dcdbdbe3;
    border: 1px solid;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5), 0 0px 0 1px rgba(10, 10, 10, 1);
    color: black;
    display: block;
    padding: 1.25rem;
}
.box3{
  border-radius: 8px;
    height: 150px;
    background-color: white;
    border: 1px solid;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.4), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    color: black;
    display: block;
    padding: 1rem;
    margin:0.01rem;
}
// .background-index{
//   min-height: 100vh;
//   background: image-url('green3.jpg');
//   background-size:100% auto;
// }
.title {
  color: white;
  font-size: 50px;
  background-size:cover;
  text-shadow    :
     2px  2px 1px black,
    -2px  2px 1px black,
     2px -2px 1px black,
    -2px -2px 1px black,
     2px  0px 1px black,
     0px  2px 1px black,
    -2px  0px 1px black,
     0px -2px 1px black;
}
.second-title{
  color: white;
  font-size: 25px;
  background-size:cover;
  text-shadow    :
     2px  2px 1px black,
    -2px  2px 1px black,
     2px -2px 1px black,
    -2px -2px 1px black,
     2px  0px 1px black,
     0px  2px 1px black,
    -2px  0px 1px black,
     0px -2px 1px black;
}
a {
  color: blue;
  text-decoration: none;
}
.pagination-link {
    border-color: #dbdbdb;
    color: #363636;
    min-width: 2.5em;
    background-color: white;
}
.pagination-previous, .pagination-next {
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
    background-color: white;
}
.top-picture{
  border-radius: 26px;
  background: image-url('soccer3.jpg');
  background-size: cover;
  height: 28em;
  color: white;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 1.4), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}
.content-title{
  font-family: 'arial black';
  padding-top: 2.5em;
  padding-left: 0.7em;
  font-size: 52px;
  text-shadow    :
       2px  2px 9px #003366,
      -2px  2px 9px #003366,
       2px -2px 9px #003366,
      -2px -2px 9px #003366,
       2px  0px 9px #003366,
       0px  2px 9px #003366,
      -2px  0px 9px #003366,
       0px -2px 9px #003366;
}
.content-sub-title{
  padding-top: 2em;
  padding-left: 2.3em;
  font-size: 20px;
  text-shadow    :
       2px  2px 5px #003366,
      -2px  2px 5px #003366,
       2px -2px 5px #003366,
      -2px -2px 5px #003366,
       2px  0px 5px #003366,
       0px  2px 5px #003366,
      -2px  0px 5px #003366,
       0px -2px 5px #003366;
}
strong.feature{
  color: red;
  font-size: 25px;
  text-shadow    :
       2px  2px 5px #003366,
      -2px  2px 5px #003366,
       2px -2px 5px #003366,
      -2px -2px 5px #003366,
       2px  0px 5px #003366,
       0px  2px 5px #003366,
      -2px  0px 5px #003366,
       0px -2px 5px #003366;
}
